{% extends 'main/header.html' %}


  {% block content %}
  <div style="padding:20px;margin-top:30px;">
    <table class="table table-striped">
      <thead>
        <tr align="center">
            <th scope="col">ID</th>
            <th scope="col">Наименование</th>
            <th scope="col">Область</th>
            <th scope="col">Город</th>
            <th scope="col">Адрес</th>
            <th scope="col">Городской телефон</th>
            <th scope="col">Мобильный телефон</th>
            <th scope="col">Организация</th>
        </tr>
      </thead>
      <tbody>
        {% for apteka in apteks_list %}
            <tr>
                {% for x in apteka %} <td align="center">{{ x }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock %}