{% extends 'main/header.html' %}


  {% block content %}
  <style xmlns="http://www.w3.org/1999/html">
    form {
        margin-left: 22%;
        width: 50%;
        margin-top: 1%;
    }
    .flex-wrap {display:flex;}
    .flex-wrap label {width:200px;margin-right:auto;}
    .flex-wrap button {width:250px;margin-left:auto;}
    .flex-wrap input {width:calc(100% - 250px);}
    </style>
    <script>
      $(document).ready(function() {
              $(document).keypress(function(event) {
                  if(event.keyCode==13){
                      $(event.target).parent().next().find('input').focus();
                      event.preventDefault();
                  }
              });
          });
    </script>
    <div style="padding:5px;margin-top:30px;">

      <form action="{% url 'main:equipment' %}" method="post">
        {% csrf_token %}<p class="flex-wrap">
        <label for="apteka_id">Аптека:</label>{{ form1.apteka_id }}<p class="flex-wrap">
        <label for="equipment_type">Тип оборудования:</label>{{ form1.equipment_type }}<p class="flex-wrap">
        <label for="equipment_model">Модель оборудования:</label>{{ form1.equipment_model }}<p class="flex-wrap">
        <label for="serial_number">Серийный номер:</label>{{ form1.serial_number }}<p class="flex-wrap">
        <label for="invoice_number">Номер накладной:</label>{{ form1.invoice_number }}<p class="flex-wrap">
        <label for="invoice_date">Дата накладной:</label>{{ form1.invoice_date }}<p class="flex-wrap">
        <label for="purchase_org">Продавец:</label>{{ form1.purchase_org }}<p class="flex-wrap">
        <label for="comments">Комментарии:</label>{{ form1.comments }}<p class="flex-wrap">
        <span>{{ error_text }}</span>
        <button class="btn btn-success" type="submit">Добавить оборудование</button>
      </form>

      <form action="{% url 'main:equipment' %}" method="post">
        {% csrf_token %}<p class="flex-wrap">
        <label for="apteka_id">Аптека:</label>{{ form2.apteka_id }}<p class="flex-wrap">
        <label for="service_name">Наименование:</label>{{ form2.service_name }}<p class="flex-wrap">
        <label for="service_ip">IP адрес:</label>{{ form2.service_ip }}<p class="flex-wrap">
        <label for="service_login">Логин:</label>{{ form2.service_login }}<p class="flex-wrap">
        <label for="service_pass">Пароль:</label>{{ form2.service_pass }}<p class="flex-wrap">
        <label for="service_info">Доп. информация:</label>{{ form2.service_info }}<p class="flex-wrap">
        <span>{{ error_text }}</span>
        <button class="btn btn-success" type="submit">Добавить информацию</button>
      </form>
    </div>
  {% endblock %}