{% extends 'main/header.html' %}

{% block content %}
  <style xmlns="http://www.w3.org/1999/html">
    form {
        margin-left: 22%;
        width: 50%;
        margin-top: 1%;
    }
    .flex-wrap {display:flex;}
    .flex-wrap label {width:200px;margin-right:auto;}
    .flex-wrap button {width:250px;margin-left:auto;}
    .flex-wrap input {width:calc(100% - 250px);}
    </style>
<div style="padding:5px;margin-top:30px;">

    <div>
    <form method="GET" action="/equipment_list">
        <label for="apteka_id">Введите номер Аптеки:</label>
        <input id="apteka_id" type="text" name="object" value="1"> <!-- В "value=", можно внести значение по умолчанию -->
        <input type="submit" value="OK">
    </form>
    </div>

    <div>
        <table class="table table-striped">
            <tr align="left">
                <th>Тип оборудования:</th>
                <th>Модель оборудования:</th>
                <th>Серийный номер:</th>
                <th>Номер накладной:</th>
                <th>Дата накладной:</th>
                <th>Продавец:</th>
                <th>Комментарии:</th>
            </tr>
            <col width="200" valign="top">
            <col width="200" valign="top">
            <col width="230" valign="top">
            <col width="170" valign="top">
            <col width="150" valign="top">
            <col width="150" valign="top">
            <col width="150" valign="top">
            {% for row in apteka_equipment %}
                <tr>
                    {% for x in row %} <td align="left">{{ x }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}