{% extends 'main/header.html' %}

{% block content %}
  <style xmlns="http://www.w3.org/1999/html">
    form {
        width: 50%;
        margin-top: 1%;
    }

    .flex-wrap {display:flex;}
    .flex-wrap label {width:200px;margin-right:auto;}
    .flex-wrap button {width:250px;margin-left:auto;}
    .flex-wrap input {width:calc(100% - 250px);}
    .flex-wrap select {width:calc(100% - 50px);}
    </style>

<div style="padding:5px;margin-top:30px;">

    <div>
        <form method="GET" action="/lan_list">
            {{ location_list }}
        <input type="submit" value="Показать информацию">
    </form>
    </div>

    <div>
        <h1>Информация по: {{ obj_id }}</h1>
    </div>


    <div>
        <table class="table table-striped">
            <tr align="left">
                <th>Наименование:</th>
                <th>IP адрес:</th>
                <th>Логин:</th>
                <th>Пароль:</th>
                <th>Дополнительная информация:</th>
            </tr>
            <col width="100" valign="top">
            <col width="100" valign="top">
            <col width="100" valign="top">
            <col width="100" valign="top">
            <col width="400" valign="top">
            {% for row in apteka_lan %}
                <tr>
                    {% for x in row %} <td align="left">{{ x }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}