<!--Navbar-->
<style>
body {margin:0;}

.fixed {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-item {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: white;
    background-color: #111;
}

.active {
    color: white;
    background-color: #4CAF50;
}
</style>

    <ul class="fixed">
        {% if user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link" href="/wiki">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/apteki">Список аптек</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/equipment_list">Список оборудование</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/lan_list">Информация о сети</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/equipment">Добавить</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/printers">Заправка картриджей</a>
        </li>

        <li style="float:right" class="nav-item">
          <a class="nav-link" href="/logout">Log out</a>
        </li>

        <li style="float:right" class="nav-item">
          <a class="nav-link" href="/wiki">Welcome, {{user.username}}</a>
        </li>


        {% else %}

        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li style="float:right" class="nav-item">
          <a class="nav-link" href="/login">Log in</a>
        </li>

        <li style="float:right" class="nav-item">
          <a class="nav-link" href="/register">Create account</a>
        </li>

        {% endif %}
    </ul>