<!--Navbar-->
<style>
body {margin:0;}

ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li1 {
    float: left;
}

li1 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li1 a:hover:not(.active) {
    color: white;
    background-color: #111;
}

.active {
    color: white;
    background-color: #4CAF50;
}
</style>

    <ul1>
        {% if user.is_authenticated %}

        <li1 class="nav-item">
          <a class="nav-link" href="/wiki">Home</a>
        </li1>

        <li1 class="nav-item">
          <a class="nav-link" href="/apteki">Список аптек</a>
        </li1>

        <li1 class="nav-item">
          <a class="nav-link" href="/printers">Заправка картриджей</a>
        </li1>

        <li1 style="float:right" class="nav-item">
          <a class="nav-link" href="/logout">Log out</a>
        </li1>
        <li1 style="float:right" class="nav-item">
          <a class="nav-link" href="/wiki">Welcome, {{user.username}}</a>
        </li1>


        {% else %}

        <li1 class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li1>

        <li1 style="float:right" class="nav-item">
          <a class="nav-link" href="/login">Log in</a>
        </li1>

        <li1 style="float:right" class="nav-item">
          <a class="nav-link" href="/register">Create an account</a>
        </li1>

        {% endif %}
    </ul1>